* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

h1,
h2 {
  font-size: 34px;
  line-height: 37px;
}

h3 {
  font-size: 23px;
  line-height: 25px;
}

button {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header {
  /* padding: 0 15px; */
}

.container {
  width: 100%;
  padding: 0 15px;
}

.header_container {
  margin-top: 15px;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: none;
}

.logo {
  width: 215px;
}

.navigation_open {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #475f45;
  color: #fff;
  overflow: hidden;
}

.hamburger_open {
  width: 24px;
  height: 24px;
}

.hamburger_close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  top: 33px;
}

.navigation__decoration {
  position: absolute;
  width: 434px;
  left: 50%;
  top: 65%;
}

.navigation__collection {
  text-align: center;
}

.menu {
  color: #fff;
  padding: 32px 0 72px 0;
}

.navigation__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.navigation__links_element:hover {
  border: #fff 2px solid;
  font-weight: 700;
}

.navigation__links_element {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 15px 33.5px;
  letter-spacing: 2px;
  font-size: 14px;
}

.navigation__links li:first-child {
  font-weight: 700;
}

.navigation__links li:last-of-type {
  margin-top: 15px;
}

.introduction__container {
  padding: 0 15px;
  margin-top: 26px;
  margin-bottom: 60px;
}

.introduction__photo {
  margin-top: 56px;
}

.introduction__elements {
  text-align: center;
}

.introduction__header {
  color: #343d33;
  text-transform: capitalize;
}

.introduction__paragraph {
  color: #414840;
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
  padding: 16px 0 24px 0;
  text-transform: capitalize;
}

.primary_button_small {
  background-color: #475f45;
  color: #fff;
  padding: 15px 30px;
  border: 0;
}

.secondary_button_small {
  background-color: transparent;
  color: #475f45;
  padding: 13px 28px;
  border: #475f45 2px solid;
}
.discover {
  background-color: #343d33;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.discover__container {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.discover__photo1,
.discover__photo2 {
  width: 100%;
}

.discover__photo2 {
  margin-bottom: 40px;
  margin-top: 16px;
}

.discover__collection {
  text-align: center;
  display: grid;
}

.discover__description {
  order: 2;
}

.discover__header {
  color: #fff;
  line-height: 37px;
  margin-bottom: 24px;
  text-transform: capitalize;
}

.discover__paragraph {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.button_alternative {
  margin-bottom: 0;
  color: #fff;
  border: #fff 2px solid;
}

.discover__decoration {
  position: absolute;
  width: 313px;
  left: 40%;
  bottom: 5%;
  opacity: 0.07;
}

.blog {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}

.blog__header {
  color: #343d33;
  padding-bottom: 17px;
}

.blog__header_line {
  width: 48px;
  height: 2px;
  background-color: #475f45;
  opacity: 0.4;
  border: none;
}

.blog__button {
  border: none;
  padding: 4px 17px 4px 20px;
}

.blog__button_icon {
  background-image: url(./assets/blog_button_icon.png);
  background-size: contain;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.blog__nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.blog__newest_post {
  padding-top: 22px;
}

.blog__post_photo1,
.blog__post_photo2 {
  width: 100%;
  padding-bottom: 20px;
}

.blog__post_title {
  color: #475f45;
  padding-bottom: 12px;
}

.blog__post_description,
.blog__post_date {
  font-size: 16px;
  line-height: 24px;
  color: #414840;
  padding-bottom: 12px;
}

.blog__post_date {
  font-style: italic;
}

.tomatoes {
  margin-top: 44px;
}

.blog__line {
  min-width: 343px;
  height: 1px;
  border: none;
  background-color: #d9d9d9;
  margin-top: 20px;
  margin-bottom: 20px;
}

.prefooter {
  background-color: #414840;
  padding: 48px 0;
}

.prefooter__container {
  text-align: center;
}

.prefooter__logo {
  width: 221px;
  margin-bottom: 20px;
}

.prefooter__copy {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.prefooter__header {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
}

.prefooter__icons {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.prefooter__icon {
  width: 24px;
}

.footer {
  padding: 29px 0;
  background-color: #343d33;
}

.footer__description {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

/* Tablet */
@media all and (min-width: 768px) {
  .introduction__header {
    font-size: 45px;
    margin-bottom: 74px;
  }

  .introduction__photo {
    margin-top: 68px;
  }

  .introduction__paragraph {
    font-size: 22px;
    padding: 0 0 48px 0;
  }
  .primary_button_small {
    margin-right: 8px;
    padding: 20px 42px;
  }
  .secondary_button_small {
    padding: 20px 42px;
  }
  .introduction__container {
    margin-top: 56px;
    margin-bottom: 57px;
  }
  .menu {
    font-size: 34px;
  }
  .navigation__decoration {
    width: 750px;
    left: 59%;
    top: 55%;
  }
  .discover__container {
    padding-top: 57px;
    padding-bottom: 57px;
  }

  .discover__photo2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .discover__description {
    text-align: start;
  }
  .discover__header {
    margin-bottom: 47px;
    font-size: 45px;
    line-height: 50px;
  }
  .discover__paragraph {
    font-size: 20px;
    line-height: 30px;
  }
  .discover__description {
    width: 75%;
  }
  .discover__decoration {
    width: 624px;
    left: 48%;
    top: 67%;
    bottom: 0;
  }
  .blog {
    padding: 57px 0;
  }
  .blog__header {
    font-size: 45px;
    line-height: 50px;
    text-align: start;
  }
  .blog__nav {
    justify-content: start;
  }
  .blog__header_line {
    min-width: 131px;
  }
  .blog__newest_post {
    padding: 61px 0 65px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .blog__newest_post_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0;
  }
  .blog__post_description {
    text-align: left;
  }
  .blog__collection_nth_post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  .blog__post_photo2 {
    margin: 0;
    padding: 0;
  }
  .blog__post_title,
  .blog__post_description,
  .blog__post_date {
    padding: 0;
  }
  .blog__collection_post_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .prefooter {
    padding-bottom: 50px;
  }
  .prefooter__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .prefooter__description {
    text-align: start;
    /* width: 69%; */
  }
  .prefooter__connect {
    display: flex;
    flex-direction: column;
    align-items: end;
    grid-column: 3 / 4;
  }
}

/* Desktop */
@media all and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  .header {
    padding: 0;
    margin-top: 16px;
  }
  .logo {
    width: 263px;
  }
  .hamburger_open,
  .hamburger_close,
  .navigation__decoration {
    display: none;
  }
  .navigation {
    display: flex;
  }
  .navigation__links {
    flex-direction: row;
    gap: 0;
  }
  .menu {
    display: none;
  }
  .navigation__links_element {
    color: #414840;
    font-weight: 700;
    border: transparent 2px solid;
    padding: 15px 30px;
  }
  .navigation__links_element:hover {
    border: #475f45 2px solid;
  }
  .navigation__links li:last-of-type {
    margin-top: 0;
  }
  .introduction__container {
    margin-top: 49px;
    margin-bottom: 122px;
    padding: 0;
  }
  .introduction__elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .introduction__description {
    display: flex;
    flex-direction: column;
    width: 528px;
    align-items: flex-start;
    text-align: initial;
  }
  .introduction__header {
    margin-bottom: 16px;
    font-size: 57px;
    line-height: 63px;
  }
  .introduction__paragraph {
    padding-bottom: 32px;
    font-size: 25px;
  }
  .secondary_button_small {
    margin-bottom: 0;
  }
  .discover {
    padding: 96px 0;
  }
  .discover__collection {
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 62px;
  }
  .discover__photo1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .discover__photo1_alternative {
    grid-column: 1 / 3;
  }
  .discover__photo2 {
    margin: 0;
  }
  .discover__description {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 /2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .discover__decoration {
    width: 534px;
    left: 59%;
    top: 32%;
  }
  .discover__header {
    margin: 0;
  }
  .discover__paragraph {
    margin: 0;
  }
  .blog__posts_table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
  }
  .blog__post_photo2 {
    display: block;
  }
  .blog__header {
    grid-column: 1 / 3;
  }
  .blog__nav {
    grid-column: 1 / 3;
    margin-bottom: 52px;
  }
  .blog__button {
    padding: 4px 17px 4px 19px;
  }
  .blog__newest_post {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .blog__newest_post_description {
    padding: 0;
    height: 25%;
  }
  .prefooter {
    padding-bottom: 60px;
    padding-top: 42px;
  }
  .prefooter__description {
    width: 69%;
  }
}
